<launch>
  
  <!-- GORUNTU ISLEME -->


  <!-- Kamera Secimi -->
  <arg name="cam" value="false" /> <!-- Plantronics -->
  <arg name="cam2" value="true" /> <!-- Logitech -->

  <!-- Usb Cam -->
  <node name="camera" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" if="$(arg cam)" />
    <param name="video_device" value="/dev/video0" if="$(arg cam2)" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera" />
    <param name="io_method" value="mmap"/>
    <param name="autofocus" value="false"/>
  </node>


  <!-- Stream -->
  <node pkg="web_video_server" type="web_video_server" name="web_video_server"/>

  
  <!-- Image Rotate -->
  <arg name="image" value="camera/image_raw" />
  <arg name="rotated_image" value="camera/rotated_image" />
  
  <node name="image_rotater_cam" pkg="image_rotate" type="image_rotate" if="$(arg cam)" args="image:=$(arg image) rotated/image:=$(arg rotated_image)">
    <param name="target_frame_id" value="camera" />
    <param name="target_x" value="-3.0" />
    <param name="target_y" value="1.2" />
    <param name="target_z" value="0.0" />
    <param name="source_frame_id" value="camera" />
    <param name="source_x" value="1.6" />
    <param name="source_y" value="4.0" />
    <param name="source_z" value="0.0" />
    <param name="output_image_size" value="1.0" />
  </node>

  <node name="image_rotater_cam2" pkg="image_rotate" type="image_rotate" if="$(arg cam2)" args="image:=$(arg image) rotated/image:=$(arg rotated_image)">
    <param name="target_frame_id" value="camera" />
    <param name="target_x" value="-8.0" />
    <param name="target_y" value="4.0" />
    <param name="target_z" value="0.0" />
    <param name="source_frame_id" value="camera" />
    <param name="source_x" value="10.0" />
    <param name="source_y" value="-5.0" />
    <param name="source_z" value="0.0" />
    <param name="output_image_size" value="1.0" />
  </node>


  <!-- Face Recognition -->
  <node pkg="projectx" type="face_server.py" name="face_server" output="screen"/>


  <!-- Image Saver -->
  <node name="image_saver" pkg="image_view" type="image_saver" args="image:=$(arg rotated_image)" output="screen">
    <param name="save_all_image" value="false" />
    <param name="encoding" value="bgr8" />
    <param name="filename_format" value="/home/ubuntu/Resimler/left%04d.%s" />
  </node>



</launch>
